In [1]:
#import splinter and Beautiful Soup 

from splinter import Browser
from bs4 import BeautifulSoup as soup
import pandas as pd

In [2]:
# Set the executable path and initalize the chrome browser in splinter 
executable_path = {'executable_path' : '/usr/local/bin/chromedriver'}

In [3]:
browser = Browser('chrome', **executable_path)

In [4]:
# Visit the mars nasa news site
url = 'https://mars.nasa.gov/news/'

In [5]:
browser.visit(url)

In [6]:
# Delay for loading the page 
# browser.is_element_present_by_css("ul.item_list li.slide", wait_time=1)

In [7]:
html = browser.html
news_soup = soup(html, 'html.parser')
slide_elem = news_soup.select_one('ul.item_list li.slide')

In [8]:
slide_elem.find('div', class_= 'content_title').get_text()

"NASA's Perseverance Rover Will Peer Beneath Mars' Surface "

In [9]:
news_title = slide_elem.find('div', class_='')

In [10]:
# Use the parent element to find the paragraph text
news_p = slide_elem.find('div', class_='article_teaser_body').text
news_p

"The agency's newest rover will use the first ground-penetrating radar instrument on the Martian surface to help search for signs of past microbial life. "

## Featured Impages

In [11]:
#visit image website 
url= 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
page = browser.visit(url)

In [12]:
# Find and click the full image
full_image_elem = browser.find_by_id('full_image')
full_image_elem.click()

In [13]:
# Find the more info button and click that
browser.is_element_present_by_text('more info', wait_time = 1)

False

In [14]:
more_info_elem = browser.links.find_by_partial_text('more info')

In [15]:
more_info_elem.click()

In [16]:
# Parse the resulting html with soup

html = browser.html
img_soup = soup(html, 'html.parser')

In [17]:
img_url_rel = img_soup.select_one('figure.lede a img').get('src')
img_url_rel

'/spaceimages/images/largesize/PIA19330_hires.jpg'

In [18]:
# Use the base URL to create an absolute link
img_url = f"https://www.jpl.nasa.gov{img_url_rel}"

In [19]:
img_url

'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA19330_hires.jpg'

## Mars Facts

In [23]:
url = 'https://space-facts.com/mars/'
browser.visit(url)
html = browser.html
mars_facts = soup(html, 'html.parser')

In [24]:
table = mars_facts.find('table', id='tablepress-p-mars', class_='tablepress tablepress-id-p-mars')

In [25]:
df = pd.read_html('http://space-facts.com/mars/')[0]

In [26]:
df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [27]:
browser.quit()